/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@keyframes pulse {
  0%, 100% {
    background-color: #ffede1;
  }
  50% {
    background-color: #fff7f2;
  }
}

body {
  animation: pulse 20s infinite;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    color: #333;
}

img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}
